li {
  display: flex;
  align-items: center;
}
li span {
  margin-right: 0.65rem;
  margin-top: 0.25rem;
}
li:hover {
  color: blue;
}
.main-logo {
  font-size: 30px;
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
}
